*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* head */
  #head{
    width: 100%;
    padding: 5px;
  }
  #media{
width: 100%;
padding: 12px;

}
div.container-fluid{ background-attachment: fixed;}
#mediaul{
   display: flex;
   width:100%
}
#mediaul li{
   margin-left: 20px;
   list-style: none;
}
#mediaul li a{
   text-decoration:none;
    font-family:  Bahnschrift;
    color: white;
   padding: 5px;
   font-style: italic;
   font-weight: bold;

}
#mediaul :nth-child(3){
   margin-left: 60%;
   padding: 0%;
   box-sizing :10px;

}
ul#mediaul{
   background-color: orange;
   border-radius: 10px;
}
/* navbar */
#navbarNav{
  padding-right: 10px;
  justify-content: space-around;
  padding-left: 10px;
 align-items: center;
  font-weight: bold;
}
#logo{
   width: 40%;
   text-align:center;
  
}
#lo{
   color: blue;
   font-family: "Jost",sans-serif;
   font-size: 20px;
   font-weight: inherit;

}
body{ background-repeat: no-repeat;
   background-size: cover;}

   /* Logo */
.logo-4 h3 {
   color: #e74c3c;
   font-weight: 300;
   font-size: 52px;
   line-height: 0.65;
   font-family: 'Freestyle Script';
   margin-left: 25px;
}
.logo-4 p {
   font-size: 16px;
   margin-left: 60px;
   color: rgb(247, 0, 0);
   font-weight: 400px;
   text-transform: capitalize;
   font-style: italic;
   font-family: 'GHarrington';
}
/* Logo*/
#t {
   color: #171617;
    padding-left: 500px;
   font-size: 60px;
    line-height: 50px;
    font-weight: bold;
    letter-spacing: 0px;
    font-family: "Cinzel";

}
#sub{
   padding-left: 580px;
   font-family: "Segoe Print";
   font-size: 25px;
}
#text1 p{
   color: #413030; 
   font-size: 20px;
   word-spacing: 9px;
   margin-bottom: 15px;
   text-align:left;
   font-family: "Vijaya";
   padding:10px 10px;
   margin: 0 0 15px;

}
#text2 p{
   margin: 0 0 15px;
   color: #413030;
   font-size: 20px;
  word-spacing: 9px;
  margin-bottom: 15px;
  text-align: left;
  font-family: "Vijaya";
    padding: 10px 10px;
}
.im1{
   margin-right: 20px;
   border-radius: 20px;
   padding-right: 10px;
   padding: 4px;
}
.im2{
   margin-right: 20px;
   border-radius: 20px;
   padding: 5px;
}
#room h2{
   color: black;
   font-size: 40px;
   text-align: center;
   font-weight: bold;
   font-family: "Snap ITC";
   padding: 10px;
}
#room p{color: rgb(56, 47, 47);
   text-align: center;
   font-family: Georgia, Times, 'Times New Roman', serif;
   font-size: 20px;
}
.col{border-radius: 20px;
   box-shadow: 0px 12px 18px -6px rgb(0 0 0 / 30%);
   padding: 10px;
}
.row{
   width: 100%; background-color:aliceblue;}
.card a{
    text-decoration: none;font-family:"Cambria" ;color: #e74c3c;
}
h2{
color:rgb(22, 18, 16);
padding: 10px;
padding-bottom: 5%;
}
.up h2{font-size: 59px;
   font-family:"MV Boli" ;}
   .img1{
      margin-left: 55%;
      height: 180px;width: 320px;
      border-radius: 15px;
      
   }
   .img2{height: 180px;width: 320px; 
      margin-right: 20px;
      border-radius: 15px;}
   .up p{
     position: absolute;
     color: rgb(87, 71, 71);
     padding: 15px;
     padding-left: 20px;
     font-size: 23px;
     text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
     
/* footer */
.p-3{color:white;}
footer{
	
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 17px sans-serif;
 
	padding: 55px 50px;
	margin-top: 15px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 46px 'Cookie', cursive;
	margin: 2;
}
 
.footer-distributed h3 span{
	color: orange;
   font-family: "Berlin Sans FB";
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.3;
	text-decoration: none;
	color:  white;
   font-family: "Comic Sans MS";
   font-size: 16px;
   padding: 3px;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
   font-family: "Bernard MT";
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
   padding: 10px;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 20px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
   font-size: 19px;
   font-family: "Bell MT";
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:18px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color: yellow;
	text-decoration: none;
   font-family: "Sitka Small";
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:chartreuse;
	font-size: 15px;
	font-weight: normal;
	margin: 0;
   font-family: "Sitka Text";
   padding: 5px;
   word-spacing: 5px;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
font-family: "Century Schoolbook";

}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
}
#navbarNav a{
font-family: "Constantia";
   color: black;
   text-transform: capitalize ;
word-spacing: 2px;
padding: 10px;
}
